.my-drop-zone {
    width: 200px;
    height: 100px;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0.5;
    transition: opacity 150ms ease-in-out;

    &.file-over {
        opacity: 1 !important;
    }
}

