@import '../../../scss/colors/colors';

.login__container {
    position: relative;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
}

.login-page__container {
    display: flex;
    flex-direction: row;
}

.login-form__container {
    position: relative;
    height: 100vh;
    width: 45%;
    box-sizing: border-box;
    padding: 50px;
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.3);
    background: white;
    z-index: 20;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.login-page-background__container {
    position: relative;
    height: 100vh;
    width: 55%;
    box-sizing: border-box;
    background-image: url(/assets/login-page/login-background-children.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
}

#return-to-homepage {
    position: absolute;
    bottom: 20px;
    left: 50px;
}
