<div id="application-root">
    <scrblr-side-bar [children]="children" [currentUser]="currentUser.user"></scrblr-side-bar>

    <div id="application-body">
        <div class="application-body--header">
            <a routerLink="/home">
                <img src="/assets/logos/logo-svg.svg" alt="logo">
            </a>
        </div>

        <div class="application-body--content" [ngClass]="{ 'mountain-bg': currentRoute === '/application' }">
            <div class="application-body--quick-quote" *ngIf="currentRoute === '/application'">
                <label for="quote" class="title"><img src="/assets/icons/quotes.svg" alt="quotes">Any funny quotes today?</label>
                <input #quickQuote type="text" name="quote" id="quote" placeholder="Start typing a quote!" autofocus>
            </div>
            <router-outlet></router-outlet>
            <scrblr-new-child *ngIf="applicationUI.addingNewChild" [@fadeIn]></scrblr-new-child>
        </div>
    </div>

    <simple-notifications [options]="_config"></simple-notifications>

</div>

