<div id="application-root">
    <scrblr-side-bar [children]="children" [currentUser]="currentUser.user" [noChildren]="noChildren"></scrblr-side-bar>

    <div id="application-body">
        <div class="application-body--header">
            <a routerLink="/home" class="scribblr-logo">
                <img src="/assets/logos/logo-svg.svg" alt="logo">
            </a>

            <a class="account-link" (click)="logout()">Logout<img id='logout' src="/assets/icons/logout.svg" alt="logout"></a>
        </div>

        <div class="application-body--content">
            <router-outlet></router-outlet>
            <scrblr-new-child *ngIf="applicationUI.addingNewChild"></scrblr-new-child>
        </div>
    </div>

    <simple-notifications [options]="_config"></simple-notifications>

</div>

