#application-root {
    // background: url(/assets/application-landing-page/background.jpg);
    background: #9D9DC2;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;
}
