#application-root {
    background: url(/assets/application-landing-page/background.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    position: relative;
}

#application-body {
    padding-left: 150px;
}
