<div id="check-out-root">
    <header class="header">
        <a routerLink="/home">
            <img src="/assets/logos/logo-svg.svg" alt="logo">
        </a>
    </header>

    <section class="page-body">
        <div class="product--container">
            <a class="return-previous"(click)="returnToPreviousPage()"><img src="/assets/icons/right-arrow.svg">Return to previous page</a>
            <div class="product-header">
                <h1 class="title"><i class="fa fa-shopping-cart"></i> Cart overview.</h1>
            </div>
            <div class="product-body">
                <div class="products-in-cart">
                    <div class="product" *ngFor="let item of currentItemsInCart">
                        <a (click)="removeFromCart(item)" class="remove">
                            <i class="fa fa-trash-o"></i>
                        </a>
                        <img [src]="'/assets/book-covers/' + item.cover_preset">
                        <div class="title-group">
                            <h1 class="title">{{ item.title }}</h1>
                            <p class="sub-title" *ngIf="!item.is_flip_over">Book: 14cm x 14cm, hard-cover</p>
                            <p class="sub-title" *ngIf="item.is_flip_over">Flip-over: 20cm x 14cm, hard-cover</p>
                        </div>
                        <div class="quantity" *ngIf="!item.is_flip_over">
                            Quantity:&nbsp;
                            <select id="quantity-selection" #quantity="ngModel" [(ngModel)]="item.amount" (change)="recalculatePrice()">
                                <option [value]="1">1</option>
                                <option [value]="2">2</option>
                                <option [value]="3">3</option>
                                <option [value]="4">4</option>
                                <option [value]="5">5</option>
                                <option [value]="6">6</option>
                                <option [value]="7">7</option>
                                <option [value]="8">8</option>
                                <option [value]="9">9</option>
                                <option [value]="10">10</option>
                            </select>
                        </div>

                        <div class="quantity" *ngIf="item.is_flip_over">
                            Quantity:&nbsp;
                            <select id="quantity-selection" #quantity="ngModel" [(ngModel)]="item.amount" (change)="recalculatePrice()">
                                <option [value]="1">1</option>
                                <option [value]="2">2</option>
                                <option [value]="3">3</option>
                                <option [value]="4">4</option>
                                <option [value]="5">5</option>
                                <option [value]="6">6</option>
                                <option [value]="7">7</option>
                                <option [value]="8">8</option>
                                <option [value]="9">9</option>
                                <option [value]="10">10</option>
                            </select>
                        </div>

                        <div class="flex-spacer"></div>
                        <div class="product-price">
                            <p class="price-tag" *ngIf="!item.is_flip_over">{{ prices.book * item.amount | currency:'EUR':true }}</p>
                            <p class="price-tag" *ngIf="item.is_flip_over">{{ prices.flip_over * item.amount | currency:'EUR':true }}</p>
                        </div>
                    </div>
                </div>
                <hr>
                <p class="price">Shipping cost:
                    <span class="price-tag" *ngIf="!prices.can_get_free_shipping">{{ prices.shipping | currency:'EUR':true }}</span>
                    <span class="price-tag" *ngIf="prices.can_get_free_shipping">Free</span>
                </p>
                <span class="achievement-points-message" *ngIf="prices.can_get_free_shipping">(100 achievement points)</span>
                <hr>
                <p class="total-price">Total price: <span class="price-tag">{{ totalPrice | currency:'EUR':true }}</span></p>
                <div class="button-container">
                    <button class="checkout-btn" (click)="payCart(currentItemsInCart)"><i class="fa fa-paypal"></i> Pay with paypal</button>
                </div>
            </div>
        </div>

        <div class="product--container">
            <div class="product-header">
                <h1 class="title"><i class="fa fa-truck"></i> Shipping information.</h1>
            </div>
            <div class="product-body">
                <ul class="shipping-information">
                    <li class="information-box">
                        <div class="information-field">
                            <label for="first-name">First name:</label>
                            <input type="text" name="first-name" #firstName="ngModel" [(ngModel)]="currentUserModel.first_name">
                        </div>
                        <div class="information-field">
                            <label for="last-name">Last name:</label>
                            <input type="text" name="last-name" #lastName="ngModel" [(ngModel)]="currentUserModel.last_name">
                        </div>
                    </li>
                    <li class="information-box">
                        <div class="information-field">
                            <label for="streetname">Streetname:</label>
                            <input type="text" name="streetname" #streetName="ngModel" [(ngModel)]="currentUserModel.street_name">
                        </div>
                        <div class="information-field">
                            <label for="housenumber">Housenumber:</label>
                            <input type="text" name="housenumber" #houseNumber="ngModel" [(ngModel)]="currentUserModel.house_number">
                        </div>
                    </li>
                    <li class="information-box">
                        <div class="information-field">
                            <label for="city">City:</label>
                            <input type="text" name="city" #city="ngModel" [(ngModel)]="currentUserModel.city">
                        </div>
                        <div class="information-field">
                            <label for="postal-code">Postal code:</label>
                            <input type="text" name="postal-code" #postalCode="ngModel" [(ngModel)]="currentUserModel.postal_code">
                        </div>
                    </li>
                    <li class="information-field">
                        <label for="countries">Country:</label>
                        <select type="text" name="countries">
                            <option [value]="country" *ngFor="let country of countries">{{ country }}</option>
                        </select>
                    </li>

                </ul>
            </div>
        </div>

    </section>

    <footer class="footer">
        <a routerLink="/home" class="logo">
            <img src="/assets/logos/logo-svg-white.svg" alt="logo">
            <p>Scribblr Inc. © 2017</p>
        </a>
    </footer>
</div>
