<div id="check-out-root">

    <header class="header">
        <img src="/assets/logos/logo-svg.svg" alt="logo">
    </header>

    <section class="page-body">
        <div class="product--container">
            <div class="product-header">
                <h1 class="title"><i class="fa fa-shopping-cart"></i> Cart overview.</h1>

            </div>
            <div class="product-body">

                <div class="products-in-cart">
                    <div class="product">
                        <img src="/assets/book-covers/covers-01.png">
                        <div class="title-group">
                            <h1 class="title">Joren his first book</h1>
                            <p class="sub-title">Book: 14cm x 14cm, hard-cover</p>
                        </div>
                        <div class="quantity">
                            Quantity:&nbsp;
                            <select>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="4">5</option>
                                <option value="4">6</option>
                                <option value="4">7</option>
                                <option value="4">8</option>
                                <option value="4">9</option>
                                <option value="4">10</option>
                            </select>
                        </div>
                        <div class="flex-spacer"></div>
                        <div class="product-price">
                            <p class="price-tag">€45</p>
                        </div>
                    </div>
                </div>
                <hr>
                <p class="price">Shipping cost: <span class="price-tag">€5</span></p>
                <hr>
                <p class="total-price">Total price: <span class="price-tag">€50</span></p>
                <div class="button-container">
                    <button class="checkout-btn"><i class="fa fa-paypal"></i> Pay with paypal</button>
                </div>

            </div>
        </div>
    </section>

    <footer>

    </footer>
</div>
