@import '../../../../../scss/colors/colors';

#check-out-root {
    width: 100%;
    min-height: 100vh;
    background-color: $main-color-two;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: white;

    img {
        transform: translateX(-10px);
        width: 200px;
    }
}

.page-body {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    min-height: calc(100vh - 250px);
    width: 100%;
    padding: 50px 0;
    box-sizing: border-box;
}

.product--container {
    width: 45%;
    margin: 40px auto 0;
    border-radius: 3px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    background-color: white;
    position: relative;

    .return-previous {
        position: absolute;
        top: -50px;
        left: 0;
        color: $main-color-one;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 20px;
            transform: rotate(-180deg);
            margin-right: 10px;
        }
    }

    .product-header {
        border-bottom: 1px solid rgba($main-color-one, 0.2);
        height: 50px;
        padding: 0 15px;
        box-sizing: border-box;

        .title {
            text-transform: uppercase;
            letter-spacing: -1px;
            font-size: 20px;
            line-height: 50px;
            color: $main-color-one;
        }
    }

    .product-body {
        background-color: #F6F6F6;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        padding: 15px;

        hr {
            border: 1px solid rgba($main-color-one, 0.2);
            border-top-color: transparent;
            border-left-color: transparent;
            border-right-color: transparent;
        }

        .price,
        .total-price {
            text-align: right;
        }

        .price-tag {
            font-weight: bold;

            &.free-shipping {
                text-decoration: line-through;
            }
        }
    }

    .achievement-points-message {
        display: block;
        width: 100%;
        text-align: right;
    }

    .products-in-cart {
        .product {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 10px;

            .remove {
                margin-right: 5px;
                cursor: pointer;

                &:hover {
                    color: #A0A0A0;
                }

                &:active {
                    color: red;
                }
            }

            .title {
                font-size: 22px;
            }

            .title-group {
                width: 260px;
                height: 90px;
                padding-left: 15px;
            }

            .sub-title {
                font-size: 14px;
                margin: -5px 0 0;
            }

            .quantity {
                margin-left: 150px;
            }

            img {
                width: 90px;
                height: auto;
            }
        }
    }
}

.shipping-information {
    list-style: none;
    padding: 0;
    margin: 0 0 0 20px;

    .information-box {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .information-field {
        margin: 5px 0 10px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;

        label {
            margin-bottom: 3px;
        }

        input[type="text"],
        select {
            width: 250px;
            margin-right: 15px;
            padding: 5px;
            border-radius: 3px;
            border: 1px solid $main-color-two;
            box-sizing: border-box;
        }
    }
}

.flex-spacer {
    flex: 1 0;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
}

.checkout-btn {
    border: none;
    border-radius: 3px;
    background-color: $main-color-four;
    padding: 10px 15px;
    box-shadow: 0 2px 0 darken($main-color-four, 10%);
    cursor: pointer;
    transition: all 200ms ease-out;
    color: white;
    font-weight: bold;
    text-transform: uppercase;

    &:hover {
        background-color: lighten($main-color-four, 5%);
        box-shadow: 0 4px 0 darken($main-color-four, 5%);
    }
}

.footer {
    height: 150px;
    width: 100%;
    background-color: $main-color-one;
    padding: 0 150px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-decoration: none;

        img {
            width: 100px;
        }

        p {
            font-family: 'Poppins';
            color: white;
            margin: 5px 0 0;
            font-size: 12px;
        }
    }
}
