.child-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
    overflow-x: hidden;
    height: 600px;
    width: 50%;
    margin: auto;
    padding: 50px;
}

