@import '../../../../../scss/colors/colors';

#book-overview {
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.book {
    display: block;
    width: 25%;
    background: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    padding: 5px;
    border-radius: 3px;
}
