@import 'splash-titles';
@import 'register-titles';
@import 'login-titles';

.title {
    font-family: 'Poppins', 'Arial', sans-serif;
    color: $main-color-five;
    font-size: 4rem;
    letter-spacing: -2px;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.scrblr-font {
    font-family: 'Poppins', 'Arial', sans-serif;
    font-weight: bold;
    color: $main-color-four;
}
