.grid-item {
    width: 25%;
    margin-bottom: 10px;
    box-sizing: border-box;
    float: left;
}

.grid-item-double {
    width: 40%;
    height: 500px;
    margin-bottom: 10px;
    box-sizing: border-box;
    float: left;

    .quote-block {
        width: 98%;
        height: 100%;

        .img-header {
            max-height: 350px !important;
        }
    }
}

.quote-block {
    cursor: pointer;
    width: 96.5%;
    margin: auto;
    box-sizing: border-box;
    background-color: white;
    border-radius: 5px;

    img {
        width: 100%;
        display: inline-block;
    }

    h2 {
        padding: 0 15px;
        margin: 15px 0 5px 0;
        text-overflow: ellipsis;
        white-space: pre-line;
        overflow: hidden;
        width: 100%;
        box-sizing: border-box;
    }

    p {
        padding: 0 15px 30px;
        margin: 15px 0 0;
    }

    .date {
        padding: 0 15px;
        opacity: 0.7;
        display: block;
        width: 100%;
        box-sizing: border-box;
        font-size: 0.9em;
    };
}

.img-header {
    max-height: 250px;
    width: 100%;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    img {
        width: 100%;
        height: auto;
    }
}
