@import 'input';

.scrblr-form {
    z-index: 30;
    position: relative;
    display: flex;

    &.column {
        flex-direction: column;
    }

    &.row {
        flex-direction: row;
    }
}

.form-controls__container {
    margin: 8vh auto 0;
    display: flex;
    flex-direction: column;
    width: 430px;

    .form-input-group:first-child {
        margin-bottom: 30px;
    }
}

.form-input-group {
    font-family: 'Montserrat', 'Arial', sans-serif !important;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin: 0 auto 25px;

    label {
        color: $main-color-one;
        width: 100%;
        margin-bottom: 10px;
    }

    input[type="text"],
    input[type="password"],
    input[type="date"] {
        border-radius: 5px;
        border: 1px solid $main-color-two;
        background: white;
        padding: 10px 20px;
        transition: 0.2s border ease-in-out;
        width: 430px;
        height: 70px;
        box-sizing: border-box;
        font-size: 20px;
    }

    input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="date"]:focus {
        outline: none;
        border: 1px solid $main-color-four;
    }

    input[type="text"]:focus + label,
    input[type="password"]:focus + label {
        color: #FFF;
    }

    select {
        border-radius: 5px;
        border: 1px solid $main-color-two;
        background: white;
        padding: 10px 20px;
        transition: 0.2s border ease-in-out;
        width: 430px;
        height: 70px;
        box-sizing: border-box;
        font-size: 20px;
    }

    &.radio {
        flex-direction: row !important;
    }
}

.password-input-group {
    position: relative;

    svg {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
        width: 10%;
        cursor: pointer;

        .password-hide {
            opacity: 0.5;
            transition: all 0.2s ease-in-out;
            fill: $main-color-one;

            &:hover {
                opacity: 1;
            }
        }

        .password-show {
            transition: all 0.2s ease-in-out;
            fill: $main-color-four;
        }
    }
}

.submit-button {
    align-self: center;
    margin-top: 75px;
}
