@import '../../../../../../scss/colors/colors';

#edit-story-overlay {
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 50px 0 0;
    box-sizing: border-box;
    background: #DEE0E3;
    z-index: 30;

    .title {
        font-size: 2rem;
    }

    .close-cross {
        cursor: pointer;
        width: 25px;
        height: 25px;
        display: block;
        position: absolute;
        top: 50px;
        right: 50px;

        img {
            width: 100%;
        }
    }

    &.overlay::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
    }
}

.switch--container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .switch-button-text {
        color: $main-color-five;
        opacity: 0.5;
        font-weight: 400;

        &.selected {
            opacity: 1;
            font-weight: bold;
        }
    }
}

.pexels-search {
    width: 100%;
    position: relative;
    margin-bottom: 10px;

    input {
        width: 100%;
        padding: 10px;
        border-radius: 3px;
        border: 1px solid $main-color-one;
        transition: all 300ms ease-out;
        box-sizing: border-box;

        &:focus {
            outline: none;
            border: 1px solid $main-color-four;
        }
    }

    span {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        color: $main-color-four;
    }
}

.new-story-preview--container {
    width: 50%;

    .canvas--container {
        width: 100%;
        position: relative;
    }

    .canvas-style {
        width: 100%;
        margin: 0 auto;
        display: inline-block;
    }

    .preset-picker {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        // overflow-y: auto;
        width: 100%;
        min-height: 280px;
        list-style: none;
        padding: 0;
        box-sizing: border-box;

        .loading {
            align-self: center;
        }
    }

    .preset {
        float: left;
        overflow: hidden;
        margin-right: 5px;
        margin-bottom: 5px;
        transition: box-shadow 200ms ease-in-out;
        cursor: pointer;
        width: 24%;
        height: 100px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 120%;
            height: auto;
        }
    }
}

#userImg {
    display: none;
}

.preview-image--container {
    position: relative;

    .placeholder {
        width: 100%;
        height: 300px;
        background-color: $main-color-four;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            margin: 0;
            font-size: 24px;
            font-weight: bold;
            color: white;
        }
    }

    .image-loading {
        width: 100%;
        min-height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 15;
        background-color: $main-color-two;
        display: flex;
        justify-content: center;
        align-items: center;

        .loading-spinner {
            border: 5px solid rgba(#545E68, 0.5);
            width: 50px;
            height: 50px;
            display: block;
            border-radius: 50%;
            position: relative;
        }

        .loading-spinner::after {
            content: '';
            border: 5px solid transparent;
            border-top-color: #5E94E5;
            position: absolute;
            width: 50px;
            height: 50px;
            left: -5px;
            top: -5px;
            animation: spinning 500ms infinite linear;
            border-radius: 50%;
        }
    }

    img {
        width: 100%;
    }
}

.new-story--container {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: flex-start;

    .form--container {
        display: flex;
        flex-direction: column;
        width: 40%;
        margin: 0;

        button {
            align-self: center;
        }
    }

    form {
        width: 100%;
    }

    .story-input {
        color: #3C3C3C;
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 18px;
        border-radius: 0;
        line-height: 22px;
        background-color: #FBFBFB;
        padding: 13px;
        margin-top: 10px;
        margin-bottom: 10px;
        max-width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        border: 1px solid $main-color-two;
    }

    textarea {
        resize: vertical;
        height: 300px;
    }

    textarea:focus {
        outline: none;
        border: 1px solid $main-color-four;
    }
}

.pexels-link {
    width: 100%;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
    font-size: 13px;
    font-style: italic;
    margin-bottom: 120px;
    display: block;
}

.mobile-btn {
    display: none;
}

#dropzone {
    height: 50px;
    width: 150px;
    background: pink;
}
