.master-container {
    text-align: center;
}

.child-container {
    width: 300px;
    height: 400px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.child-name {
    text-align: center;
    margin: 0;
    padding: 0;
}

.child-information {
    list-style: none;
    padding: 0;
    li {
        padding: 5px;
    }
}

.child-image {
    width: 75px;
    height: auto;
    border: 3px #fff solid;
    border-radius: 50%;
}

.image-long-divider {
    width: 5px;
    height: 30px;
    background-color: #fff;
    margin-bottom: 5px;
    border-radius: 20%;
    margin-left: auto;
    margin-right: auto;
}

.image-short-divider {
    width: 5px;
    height: 5px;
    background-color: #fff;
    border-radius: 50%;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}


