.child-container {
    width: 300px;
    height: 400px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.child-name {
    text-align: center;
    margin: 0;
    padding: 0;
}

.child-information {
    list-style: none;
    padding: 0;
    li {
        padding: 5px;
    }
}
