.navigation {
    list-style: none;
    padding: 10px;
    width: 200px;
    margin: auto;
    display: flex;
    justify-content: center;

    li {
        a {
            display: block;
            padding: 10px;
            margin: 0 10px;
            cursor: pointer;
            text-decoration: none;
            color: rgba(255, 255, 255, 0.8);
            opacity: 0.6;
            border-bottom: 2px solid rgba(0, 0, 0, 0);
            transition: all 0.25s ease-in-out;

            :last-child {
                margin-right: 0;
            }

            &:hover {
                opacity: 1;
                border-bottom: 2px solid orangered;
            }
        }
    }
}

.link-is-active {
    opacity: 1 !important;
    color: rgba(255, 255, 255, 1) !important;
    border-bottom: 2px orangered solid !important;
}
