<ul class="navigation">
    <li><a class="" routerLink="children"    routerLinkActive="link-is-active"><i class="fa fa-child fa-lg"></i></a></li>
    <li><a class="" routerLink="scribbles"   routerLinkActive="link-is-active"><i class="fa fa-quote-left fa-lg"></i></a></li>
    <li><a class="" routerLink="achievement" routerLinkActive="link-is-active"><i class="fa fa-trophy fa-lg"></i></a></li>
    <li><a class="" routerLink="books"       routerLinkActive="link-is-active"><i class="fa fa-book fa-lg"></i></a></li>
</ul>




