@import '../../../../../../scss/colors/colors';

.quick-quote {
    width: 400px;
    background-color: white;
    border: 1px solid rgba($main-color-five, 0.2);
    border-radius: 3px;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;

    .title {
        font-size: 1.5rem;
    }

    p {
        font-size: 0.9rem;
        margin: 0;
    }

    .quote-input {
        color: #3C3C3C;
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 1rem;
        border-radius: 0;
        line-height: 22px;
        background-color: #FBFBFB;
        padding: 13px;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
        display: block;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        border: 1px solid $main-color-two;
    }

    textarea {
        resize: vertical;
        height: 150px;
        max-height: 250px;
    }

    textarea:focus {
        outline: none;
        border: 1px solid $main-color-four;
    }

    button {
        align-self: flex-end;
    }
}
