@import '../../../scss/colors/colors';

h1, h2, h3, h4, p {
    margin: 0;
}

#wrapper {
    overflow-x: hidden;
}

#intro {
    position: relative;
    height: 934px;
    display: flex;
}

#section1 {
    height: 760px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.hero-img--container {
    margin-left: 140px;
    margin-top: -167px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1, h2, h3, p {
        color: white;
    }

    h1 {
        font-size: 72px;
    }

    p {
        text-align: right;
        margin-top: -25px;
        font-size: 36px;
        font-family: 'Open Sans';
    }

    ul {
        list-style: none;
        padding: 0;
    }
}

.hero-image {
    position: absolute;
    height: 934px;
    width: 100%;
    transform: skewY(-8deg);
    background-color: pink;
    transform-origin: 0;
    overflow: hidden;
    // background-image: -moz-linear-gradient( 45deg, rgb(94,148,229) 0%, rgb(49,111,203) 100%);
    // background-image: -webkit-linear-gradient( 45deg, rgb(94,148,229) 0%, rgb(49,111,203) 100%);
    // background-image: -ms-linear-gradient( 45deg, rgb(94,148,229) 0%, rgb(49,111,203) 100%);
    // background-image: linear-gradient( 45deg, rgb(94,148,229) 0%, rgb(49,111,203) 100%);
    background-image: url(/assets/header/background-header-gradient.png);
    background-size: cover;
}

.header-button-group {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    a {
        display: block;
        padding: 0.5em 1em;
        border: 2px solid white;
        border-radius: 80px;
        text-decoration: none;
        color: white;
        margin-right: 20px;
        transition: all 200ms ease-in-out;
    }

    .information:hover {
        color: $main-color-four;
        background: white;
    }

    .register,
    .application {
        background: white;
        color: $main-color-four;
        margin-right: 0;

        &:hover {
            transform: translateY(-2px);
        }
    }
}

.section {
    background: #E3E3E3;
    position: relative;

    .books {
        position: absolute;
        display: flex;
        width: 1020px;
        flex-wrap: wrap;
        transform: rotate(-8deg);
        top: -445px;
        right: -180px;
        z-index: 35;
    }

    .book {
        width: 47%;
    }

    .book img {
        width: 100%;
        box-shadow: inset 0 4px 7px 1px #FFF, inset 0 -5px 20px rgba(173, 186, 204, 0.25), 0 2px 6px rgba(0, 21, 64, 0.14), 0 10px 20px rgba(0, 21, 64, 0.05);
    }

    .book:nth-child(even) {
        margin-top: -35px;
        margin-left: 10px;
    }

    .book:nth-child(odd) {
        margin-top: 10px;
    }
}

.section-background {
    background: white;
    transform: skewY(-8deg);
    position: absolute;
    transform-origin: 0;
    width: 100%;
    height: 100%;
}

.section-content {
    position: relative;
    z-index: 30;
    width: 600px;
    margin-left: 150px;
    margin-top: -220px;

    p, h1 {
        text-align: right;
    }

    h1 {
        font-size: 48px;
    }

    p {
        font-size: 24px;
    }
}

.buffer-bottom-small {
    margin-bottom: 10px;
}

