<div id="wrapper">

    <scrblr-nav-bar></scrblr-nav-bar>

    <header>
        <section id="intro" [ngStyle]="{'background-image': 'url(/assets/homepage/hero' + randomImageIndex + '.jpg)'}">
            <div class="title-container">
                <h1 class="main-title">Saving memories for later.</h1>
                <p class="sub-title">Capture and print the most valuable moments with your children.</p>

                <div class="button-container" *ngIf="!isLoggedIn">
                    <a class="btn-empty" href="home#section1">Learn more</a>
                    <a class="btn-header" routerLink="/register">Create account</a>
                </div>

                <div class="button-container" *ngIf="isLoggedIn">
                    <a class="btn-header" routerLink="/application/home">Let's start</a>
                </div>

            </div>
        </section>
    </header>

    <section class="section" id="section1">
        <div class="image">
            <img src="/assets/homepage/section-1-image.jpg" alt="Women with two kids">
        </div>
        <div class="section-information">
            <div class="title--container">
                <h1 class="title">Never miss a memory.</h1>
                <span class="underline"></span>
            </div>
            <div class="content--container">
                <p>
                    Moments with your children are great, but keeping and reliving them is even better.
                </p>
            </div>
        </div>
    </section>

    <hr>

    <section class="section reverse">
        <div class="image">
            <img src="/assets/homepage/section-2-image.jpg" alt="four quotes">
        </div>
        <div class="section-information">
            <div class="title--container">
                <h1 class="title">Tell the story.</h1>
                <span class="underline"></span>
            </div>
            <div class="content--container">
                <p>
                    Your children have their own unique way of discovering and describing the world around them. It's up to you to tell the real story and share
                    it with family and friends. <br> Simply add a quote or write a story.
                </p>
            </div>
        </div>
    </section>

    <hr>

    <section class="section">
        <div class="image">
            <img src="/assets/homepage/section-3-image.jpg" alt="two books">
        </div>
        <div class="section-information">
            <div class="title--container">
                <h1 class="title">Print.</h1>
                <span class="underline"></span>
            </div>
            <div class="content--container">
                <p>
                    Having a physical copy of your memories is even better. <br> So what are you waiting for!
                </p>
            </div>
        </div>
    </section>

    <section class="section no-margin" *ngIf="!isLoggedIn">
        <div class="full-size-section-information">
            <h1 class="title">
                Join now.
            </h1>

            <a class="btn-full" routerLink="/register">Create account</a>
        </div>
    </section>

    <footer class="footer">
        <a routerLink="/home" class="logo">
            <img src="/assets/logos/logo-svg-white.svg" alt="logo">
            <p>Scribblr Inc. © 2017</p>
        </a>
    </footer>
</div>
