<div id="wrapper">

    <scrblr-nav-bar></scrblr-nav-bar>

    <header>
        <div class="hero-image"></div>
        <section id="intro">
            <div class="hero-img--container">
                <h1 class="title">Saving memories for later.</h1>
                <p>A new way of sharing and remembering.</p>
                <ul>
                    <li>
                        <a href="home#section1">Information</a>
                    </li>
                    <li>
                        <a routerLink="register">Create an account.</a>
                    </li>
                </ul>
            </div>

        </section>
    </header>

    <section class="section" id="section1">
        <div class="books">
            <div class="book">
                <img src="/assets/homepage/scribblr-book-blue.png" alt="book blue">
            </div>
            <div class="book">
                <img src="/assets/homepage/scribblr-book-green.png" alt="bookgreen">
            </div>
            <div class="book">
                <img src="/assets/homepage/scribblr-book-orange.png" alt="book orange">
            </div>
            <div class="book">
                <img src="/assets/homepage/scribblr-book-purple.png" alt="book purple">
            </div>
        </div>
    </section>

    <section class="section" id="section2">

    </section>

    <section class="section" id="section3">

    </section>

</div>
