@media screen and (min-width: 740px) and (max-width: 900px) {
    .main-title {
        font-size: 50px;
    }

    .sub-title {
        font-size: 22px;
    }
}

@media screen and (min-width: 300px) and (max-width: 739px) {
    .main-title {
        font-size: 2.2rem !important;
    }

    .sub-title {
        width: 75%;
        margin: 0 auto;
        font-size: 1.2rem !important;
    }

    .title-container {
        position: relative;
    }

    .button-container {
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        flex-direction: column;
    }

    .btn-full {
        margin-top: 20px !important;
    }

    .btn-empty,
    .btn-full {
        margin: 0;
    }

    #intro {
        padding: 20px;
        height: 100vh !important;
        justify-content: space-around !important;
    }

    .footer {
        padding: 0 !important;
    }
}

@media screen and (max-width: 540px) {
    .button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        flex-direction: column;
    }

    .btn-full {
        margin-top: 20px !important;
    }

    .btn-empty,
    .btn-full {
        margin: 0;
    }
}

@media screen and (min-width: 300px) and (max-width: 939px) {
    .books {
        display: none;
    }

    #section1 {
        height: auto;
        flex-direction: column;
    }

    .quotes {
        width: 100%;
        flex-direction: column;

        .quote:first-child {
            margin-top: 20px;
        }
    }

    .section {
        padding: 20px;

        .title {
            font-size: 28px;
            text-align: left;
        }

        .section-information {
            text-align: left;
            width: 100%;
        }
    }
}
