.navigation {
    list-style: none;
    padding: 10px;
    width: 200px;
    margin: auto;
    display: flex;
    justify-content: center;

    li {
        a {
            display: block;
            padding: 10px;
            margin: 0 10px;
            cursor: pointer;
            text-decoration: none;
            color: white;
            opacity: 0.6;
            border-bottom: 2px solid rgba(0, 0, 0, 0);
            transition: all 0.25s ease-in-out;

            :last-child {
                margin-right: 0;
            }

            &:hover {
                opacity: 1;
                // border-bottom: 2px solid orangered;
            }
        }
    }

    li:first-child {
        margin-top: 15px;
    }
}

.link-is-active {
    opacity: 1 !important;
    color: white !important;
    // border-bottom: 2px orangered solid !important;
}

.child-image {
    width: 75px;
    height: auto;
    border: 3px #FFF solid;
    border-radius: 50%;
}
