<div id="latest-posts-wrap">
    <h1 class="title">Latest memories.</h1>
    <div id="latest-posts">
        <ul class="posts" *ngIf="latestPostsArray.length">
            <li *ngFor="let post of latestPostsArray; let last = last">
                <div class="post">
                    <span class="overlay" (click)="goToChild(post.child.short_id)">
                        <i class="fa fa-2x" [ngClass]="{ 'fa-book': post.is_memory, 'fa-quote-left': !post.is_memory }"></i>
                    </span>
                    <img *ngIf="!post.is_memory" [src]="makePostUrl(post.child.short_id, post.short_id, post.img_original_url_id)" (load)=reachedLastFn(last)>
                    <img *ngIf="post.is_memory" [src]="makePostBakedUrl(post.child.short_id, post.short_id, post.img_baked_url_id)" (load)=reachedLastFn(last)>
                </div>
            </li>
        </ul>
        <div class="placeholder" *ngIf="!latestPostsArray.length">
            <p>You haven't added any memories.</p>
        </div>
    </div>

</div>
