<div id="latest-posts-wrap">
    <h1 class="title">Latest memories.</h1>
    <div id="latest-posts" #latestPosts>
        <ul class="posts">
            <li>
                <div class="post">
                    <span class="overlay"></span>
                    <img src="/assets/homepage/quote-1.jpg" alt="">
                </div>
            </li>
            <li>
                <div class="post">
                    <span class="overlay"></span>
                    <img src="/assets/homepage/quote-2.jpg" alt="">
                </div>
            </li>
            <li>
                <div class="post">
                    <span class="overlay"></span>
                    <img src="/assets/homepage/quote-3.jpg" alt="">
                </div>
            </li>
            <li>
                <div class="post">
                    <span class="overlay"></span>
                    <img src="/assets/homepage/quote-4.jpg" alt="">
                </div>
            </li>
            <li>
                <div class="post">
                    <span class="overlay"></span>
                    <img src="/assets/homepage/quote-1.jpg" alt="">
                </div>
            </li>
            <li>
                <div class="post">
                    <span class="overlay"></span>
                    <img src="/assets/homepage/quote-2.jpg" alt="">
                </div>
            </li>
            <li>
                <div class="post">
                    <span class="overlay"></span>
                    <img src="/assets/homepage/quote-3.jpg" alt="">
                </div>
            </li>
            <li>
                <div class="post">
                    <span class="overlay"></span>
                    <img src="/assets/homepage/quote-4.jpg" alt="">
                </div>
            </li>
            <li>
                <div class="post">
                    <span class="overlay"></span>
                    <img src="/assets/homepage/quote-1.jpg" alt="">
                </div>
            </li>
            <li>
                <div class="post">
                    <span class="overlay"></span>
                    <img src="/assets/homepage/quote-2.jpg" alt="">
                </div>
            </li>
            <li>
                <div class="post">
                    <span class="overlay"></span>
                    <img src="/assets/homepage/quote-3.jpg" alt="">
                </div>
            </li>
            <li>
                <div class="post">
                    <span class="overlay"></span>
                    <img src="/assets/homepage/quote-4.jpg" alt="">
                </div>
            </li>
        </ul>
    </div>

</div>
