@import 'main-buttons';
@import 'add-button';
@import 'switch-button';

.btn {
    box-sizing: border-box;
    font-family: 'Open Sans', 'Arial', sans-serif;
    cursor: pointer;
    display: block;
    text-decoration: none;
    text-align: center;

    &.btn-primary {
        padding: 0 1.5em;
        height: 80px;
        line-height: 80px;
        width: 215px;
        font-size: 20px;
        font-weight: 400;
        border-radius: 5px;
        border: none;
        color: white;
    }

    &.btn-round {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    &.btn-border {
        font-weight: 300;
        border-radius: 5px;
        border: 2px solid $main-color-four;
        color: $main-color-four;
        font-size: 15px;
        height: 35px;
        width: 180px;
        line-height: 35px;

        &:hover {
            color: white;
            background-color: $main-color-four;
        }
    }
}

.btn-trans {
    background: transparent;
    // width: 90px;
    padding: 0.8em 1.5em;
    border-radius: 3px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: $main-color-four;
    cursor: pointer;
    border: none;
    transition: all 200ms ease-in-out;
    box-sizing: border-box;

    &:hover {
        background: #EEE;
    }

    &.not-important {
        color: #808080;
    }
}

.floating-btn {
    position: absolute;
    bottom: 50px;
    display: block;
    text-decoration: none;
    color: white;
    font-size: 35px;

    &.right {
        right: 50px;
    }

    &.left {
        left: 50px;
    }
}
