@import '../../../../scss/colors/colors';

#login-form {
    z-index: 30;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
}

#login-button {
    margin: 5vh auto;
}

.login-title__container {
    h1 {
        color: $login-color-one;
    }
}

.login-controls__container {
    margin: auto;
    display: flex;
    flex-direction: column;
}

.login-input-field-button__container {
    width: 430px;
    display: flex;
    flex-direction: column;
    margin: 5vh auto 0;

    .form-input-group:first-child {
        margin-bottom: 30px;
    }
}

.form-input-group {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 430px;
    margin: auto;

    label {
        color: $login-color-one;
        width: 430px;
        margin-bottom: 10px;
    }

    input[type="text"],
    input[type="password"] {
        border-radius: 5px;
        border: 1px solid $login-color-two;
        background: none;
        padding: 10px 20px;
        transition: 0.2s border ease-in-out;
        width: 430px;
        height: 80px;
        box-sizing: border-box;
        font-size: 20px;
    }

    input[type="text"]:focus,
    input[type="password"]:focus {
        outline: none;
        border: 1px solid $login-color-four;
    }

    input[type="text"]:focus + label,
    input[type="password"]:focus + label {
        color: #FFF;
    }
}

.password-input-group {
    position: relative;

    svg {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
        width: 10%;
        cursor: pointer;
        // opacity: 0.7;

        .password-hide {
            opacity: 0.5;
            transition: all 0.2s ease-in-out;
            fill: $login-color-one;

            &:hover {
                opacity: 1;
            }
        }

        .password-show {
            transition: all 0.2s ease-in-out;
            fill: $login-color-four;
        }
    }
}

.login-image__container {
    width: 50%;
    height: 250px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
}
