@import '../../../../scss/colors/colors';

#login-form {
    z-index: 30;
    position: relative;
    display: flex;
    flex-direction: column;
}

#login-button {
    margin: 5vh auto;
}

.login-title__container {
    h1 {
        color: $login-color-one;
    }
}

.login-controls__container {
    margin: 8vh auto 0;
    display: flex;
    flex-direction: column;
    width: 430px;

    .form-input-group:first-child {
        margin-bottom: 30px;
    }
}

.login-image__container {
    width: 50%;
    height: 250px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
}
