@import '../../../../scss/colors/colors';

#register-form {
    position: relative;
    display: flex;
    flex-direction: column;
}

.register-step-title__container {
    h1 {
        color: $register-color-one;
    }
}

.register-name-color {
    color: $register-color-four;
}
