<form id="register-form" class="scrblr-form column" (ngSubmit)="onRegister(formModel)" #registerForm="ngForm">

    <div class="logo">
        <a routerLink="/home">
            <img src="/assets/logos/logo-svg.svg" alt="scribblr logo">
        </a>
    </div>

    <h2 class="form-title">Register</h2>

    <p class="logo-undertext">Already have an account? <a routerLink="/register" class="link">Login</a></p>

    <div class="form-controls__container">
        <div class="form-input-group">
            <label for="fullname">Your name</label>
            <input type="text" id="fullname" name="fullname" #fullname="ngModel" [(ngModel)]="formModel.fullname" required autofocus>
            <scrblr-form-error
                *ngIf="fullname.errors && (fullname.touched)"
                [model]="fullname" [modelName]="'Fullname'">
            </scrblr-form-error>
        </div>

        <div class="form-input-group">
            <label for="email">Your email</label>
            <input type="text" id="email" #email="ngModel" name="email" [(ngModel)]="formModel.email" required>
            <scrblr-form-error
                *ngIf="email.errors && (email.touched)"
                [model]="email" [modelName]="'Email'">
            </scrblr-form-error>
        </div>

        <div class="form-input-group">
            <label for="password">Set your password</label>
            <div class="password-input-group">
                <svg (click)="showPassword()" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                    <g>
                        <path [ngClass]="{ 'password-hide': !isShowingPassword, 'password-show': isShowingPassword }" d="M256,103.4c-97.8,0-186.5,53.5-252,140.5c-5.3,7.1-5.3,17.1,0,24.2c65.5,87,154.2,140.6,252,140.6 s186.5-53.5,252-140.5c5.3-7.1,5.3-17.1,0-24.2C442.5,156.9,353.8,103.4,256,103.4z M263,363.5C198.1,367.5,144.5,314,148.5,249 c3.4-53.6,46.8-97.1,100.4-100.4c64.9-4.1,118.6,49.4,114.5,114.5C360,316.5,316.5,360,263,363.5z M259.8,313.8 c-35,2.2-63.9-26.6-61.6-61.6c1.8-28.9,25.2-52.3,54.1-54.1c35-2.2,63.9,26.6,61.6,61.6C312,288.7,288.6,312,259.8,313.8z" />
                    </g>
                </svg>
                <input #passwordInput type="password" id="password" name="password" #password="ngModel" [(ngModel)]="formModel.password"
                    required>
            </div>
            <scrblr-form-error
                *ngIf="password.errors && (password.touched)"
                [model]="password" [modelName]="'Password'">
            </scrblr-form-error>
        </div>

        <button class="btn btn-primary submit-button btn-color-main" type="submit">Register</button>
    </div>
</form>
