@import '../../../../scss/colors/colors';

#register-form {
    position: relative;
    display: flex;
    flex-direction: column;
}

.register-controls__container {
    margin: 8vh auto 0;
    display: flex;
    flex-direction: column;
    width: 430px;

    .form-input-group:first-child {
        margin-bottom: 30px;
    }
}

.register-step-title__container {
    h1 {
        color: $register-color-one;
    }
}

.register-name-color {
    color: $register-color-four;
}
