<div id="sidebar" class="sidebar">
    <div class="sidebar--header">
        <div class="sidebar--avatar">
            <img src="/assets/avatar.png" alt="">
            <span class="sidebar--avatar-options">
                <img src="/assets/icons/sidebar-icons/cog-wheel-icon.svg" alt="cogwheel">
            </span>
        </div>
        <p>{{ currentUser.first_name + ' ' + currentUser.last_name }}</p>
    </div>

    <hr class="sidebar--separator">

    <ul class="sidebar--toolbox">
        <li>
            <a routerLink="books" class="sidebar--toolbox-link">
                <img src="/assets/icons/sidebar-icons/book-icon.svg" alt="book">Books
            </a>
        </li>
        <li>
            <a routerLink="achievements" class="sidebar--toolbox-link">
                <img src="/assets/icons/sidebar-icons/achievements-icon.svg" alt="achievements">Achievements
            </a>
        </li>
        <li>
            <a routerLink="news"class="sidebar--toolbox-link">
                <img src="/assets/icons/sidebar-icons/news-icon.svg" alt="news">News
            </a>
            <!--NOTIFICATION POP UP-->
        </li>
    </ul>

    <hr class="sidebar--separator">

    <div class="test-wrap">
        <div class="scroll-wrap" perfect-scrollbar>
            <ul class="sidebar--children">
                <li>
                    <a class="new-child" (click)="addChild()">
                        <span class="circle">
                            +
                        </span>
                        <p>New child</p>
                    </a>
                </li>
                <li *ngIf="children.length <= 0">
                    <span class="sidebar--children-loading"></span>
                </li>
                <li *ngFor="let child of children">
                    <a class="child-avatar">
                        <img src="/assets/child-head-test/de-ronny.png" alt="de ronny">
                        <div>
                            <p class="fullname">{{ child.full_name }}</p>
                            <p class="age">{{ child.date_of_birth | childAge }}</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</div>
