.child-card {
    text-align: center;
    margin-right: 10px;
    margin-bottom: 10px;
}

.child-container {
    // media queries for width
    width: 300px;
    height: 400px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.child-name {
    text-align: center;
    margin: 0;
    padding: 0;
}

.child-information {
    list-style: none;
    padding: 0;

    li {
        padding: 5px;
    }
}

.child-image {
    width: 75px;
    height: auto;
    border: 3px #FFF solid;
    border-radius: 50%;
}

.child-line {
    display: block;
    background: white;
    width: 5px;
    height: 25px;
    margin: auto;
    border-radius: 5px;
    position: relative;
    margin-bottom: 25px;
    margin-top: -6px;

    &::before,
    &::after {
        content: '';
        display: block;
        width: 5px;
        height: 5px;
        background: white;
        border-radius: 50%;
        position: absolute;
    }

    &::before {
        bottom: -9px;
    }

    &::after {
        bottom: -17px;
    }
}
