.child-card {
    margin: auto;
    margin-bottom: 10px;
    width: 550px;
    height: 200px;
    background-image: -webkit-linear-gradient(bottom left, rgb(173,230,251) 0%, rgb(94,148,229) 100%);
    background-image: -moz-linear-gradient(bottom left, rgb(173,230,251) 0%, rgb(94,148,229) 100%);
    background-image: -o-linear-gradient(bottom left, rgb(173,230,251) 0%, rgb(94,148,229) 100%);
    background-image: linear-gradient(to top right, rgb(173,230,251) 0%, rgb(94,148,229) 100%);
    border-radius: 5px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: 'Roboto', 'Arial', sans-serif;
}

.child-info-container {
    width: 75%;
}

.child-image-container {
    width: 25%;
}

.child-name {
    font-weight: 400;
    margin: 0;
    padding: 0 30px;
    color: white;
    font-size: 30px;
}

.child-age {
    font-weight: 200;
    font-size: 18px;
}

.child-image {
    width: 150px;
    height: auto;
    border-radius: 50%;
    margin-left: 25px;
}
