.child-card {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    width: 350px;
    height: 350px;
    background: rgba(46, 46, 46, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Roboto', 'Arial', sans-serif;
    transition: all 150ms ease-in-out;
    cursor: pointer;

    &:hover {
        background: rgba(46, 46, 46, 0.6);
    }

    &:hover .child-image {
        width: 180px;
    }
}

.child-name,
.child-age {
    text-align: center;
    margin: 0;
    color: white;
}

.child-name {
    font-weight: 400;
    font-size: 30px;
}

.child-age {
    font-weight: 200;
    font-size: 18px;
}

.child-image {
    width: 150px;
    height: auto;
    border-radius: 50%;
    margin: auto;
    border: 2px solid white;
    transition: all 150ms ease-in-out;
}
