/*        OVERLAY:     */
.modal-container {
    width: 100%;
    min-height: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    z-index: 30;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .close-modal {
        text-decoration: none;
        color: white;
        position: absolute;
        right: 20px;
        top: 20px;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.15);
        transition: all 0.20s ease-in-out;

        &:hover {
            background: rgba(0, 0, 0, 0.7);
        }
    }

    form {
        padding: 50px;
        border-radius: 5px;
        color: #000;
        background-color: #FFF;
        box-shadow: 0 5px 8px rgba(0, 0, 0, 0.7);
    }
}

.show-overlay-button {
    position: absolute;
    right: 5%;
    bottom: 5%;
}
