@import '../../../../../scss/colors/colors';

.add-button--container {
    display: flex;
    flex-direction: row;
    max-width: 95%;
    justify-content: space-around;
    align-content: center;
    margin: 0 auto;
    padding: 50px 0;
}

.vertical-divider {
    display: block;
    width: 1px;
    height: 25px;
    background-color: black;
}

.grid {
    margin: 0 auto 150px;
    max-width: 95%;
    min-height: 85%;
}

.grid::after {
    content: '';
    display: block;
    clear: both;
}

.grid-sizer {
    width: 25%;
}

.loading {
    width: 100%;
    height: 100%;
    background: #D2D3D6;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 30;

    span {
        border: 5px solid rgba(#545E68, 0.5);
        width: 50px;
        height: 50px;
        display: block;
        border-radius: 50%;
        position: relative;
    }

    span::after {
        content: '';
        border: 5px solid transparent;
        border-top-color: #5E94E5;
        position: absolute;
        width: 50px;
        height: 50px;
        left: -5px;
        top: -5px;
        animation: spinning 500ms infinite linear;
        border-radius: 50%;
    }
}

.filters {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        margin: 0 20px 0 0;
    }

    select {
        border-radius: 5px;
        border: 1px solid $main-color-two;
        background: white;
        padding: 10px 20px;
        transition: 0.2s border ease-in-out;
        width: 100%;
        height: 42px;
        box-sizing: border-box;
        font-size: 16px;
    }
}

.no-quotes {
    width: 100%;
    height: calc(100vh - 100px);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;

    h1 {
        text-align: center;
        font-size: 30px;
        width: 20%;
    }

    img {
        opacity: 0.8;
    }
}

@keyframes spinning {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

.child-infomatics--container {
    width: 100%;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 5;

    h1 {
        position: absolute;
        left: 60px;
        top: 50%;
        transform: translateY(-50%);
        margin: 0;
        font-size: 28px;
        width: 175px;
    }

    .flex-spacer {
        flex: 1 0;
    }

    .button--container {
        display: flex;
    }

    .button--container a {
        display: block;
        margin-right: 20px;
    }

    .button--container a:last-child {
        margin-right: 0;
    }

    .new-story,
    .new-quote,
    .edit-child {
        background: lighten($main-color-two, 20%);
        padding: 10px 15px;
        border-radius: 3px;
        text-decoration: none;
        color: $main-color-four;
        text-transform: capitalize;

        &.flashing {
            animation: flashing 6000ms ease-in-out;
        }

        &:hover {
            color: lighten($main-color-two, 20%);
            background: $main-color-four;
        }
    }
}

@keyframes flashing {
    0% {
        background: lighten($main-color-two, 20%);
        color: $main-color-four;
    }

    20% {
        color: lighten($main-color-two, 20%);
        background: $main-color-four;
    }

    40% {
        background: lighten($main-color-two, 20%);
        color: $main-color-four;
    }

    60% {
        color: lighten($main-color-two, 20%);
        background: $main-color-four;
    }

    80% {
        background: lighten($main-color-two, 20%);
        color: $main-color-four;
    }

    100% {
        background: lighten($main-color-two, 20%);
        color: $main-color-four;
    }
}
