.grid {
    margin: 0 auto;
    max-width: 100%;
}

.grid::after {
    content: '';
    display: block;
    clear: both;
}

.grid-sizer {
    width: 20%;
}

@media screen and (max-width: 768px) {
    .grid-sizer {
        width: 33%;
    }
}


