@import '../../../../../scss/colors/colors';

#achievement--wrapper {
    width: 60%;
    height: 100%;
    padding: 0 50px;
    box-sizing: border-box;
    overflow-y: auto;
    margin: 0 auto;

}

.category--container {
    width: 100%;

    hr {
        border: 2px solid $main-color-one;
        border-bottom: transparent;
        margin-bottom: 15px;
    }
}

.achievement--container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
}
