.grid-item {
    width: 32%;
    margin-bottom: 20px;
    box-sizing: border-box;
    float: left;

    &.double {
        width: 60%;
    }
}

.book {
    margin: 0 auto;
    width: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 3px;
    // margin: 0 10px 10px;
    position: relative;
    transition: all 200ms ease-out;
    user-select: none;

    &:hover {
        transform: scale(1.02);
    }

    .gradient-overlay {
        cursor: pointer;
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        opacity: 1;
        background: -webkit-linear-gradient(rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
        background: -moz-linear-gradient(rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
        background: -o-linear-gradient(rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
        background: linear-gradient(rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
        transition: all 100ms ease-out;
        z-index: 10;

        .header-field {
            position: absolute;
            left: 0;
            top: 0;
            padding: 15px 15px 0;
            width: 100%;
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .fa-trash-o {
                opacity: 0;
                color: white;
                transition: 200ms all ease-out;

                &:hover {
                    color: #A0A0A0;
                }

                &:active {
                    color: red;
                }
            }
        }

        &:hover .header-field i {
            opacity: 1;
        }

        .title {
            letter-spacing: -1px;
            top: 15px;
            left: 15px;
            font-size: 24px;
            color: white;
            text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
        }

        .date {
            margin: 0;
            top: 50px;
            left: 15px;
            color: white;
            font-size: 15px;
            text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
        }

        &:hover .order-book {
            opacity: 1;
        }

        .order-book {
            position: absolute;
            color: white;
            right: 15px;
            bottom: 15px;
            opacity: 0;
            transition: all 200ms ease-in-out;
            text-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
            z-index: 11;
            background-color: rgba(0, 0, 0, 0.9);
            padding: 5px;
            border-radius: 3px;

            &:active {
                text-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
                background-color: rgba(0, 0, 0, 1);
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .front-page {
        display: flex;
        justify-content: space-around;
        align-items: center;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);

        img {
            width: 100%;
            height: 100%;
        }
    }
}
