@import '../../../../../../scss/colors/colors';

:host {
    width: 90%;
    margin: 0 auto;
}

#statistics-wrap {
    width: 100%;

    .title {
        font-size: 2rem;
    }
}

#statistics {
    width: 100%;
    height: 100%;
    background-color: white;
    border: 1px solid rgba($main-color-five, 0.2);
    border-radius: 3px;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 20px;
    flex-wrap: wrap;

    .statistic:nth-child(3n+3) {
        border-right: none;
    }

    .statistic:nth-last-child(-n+3) {
        border-bottom: none;
    }

    .statistic {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 160px;
        padding: 28px 40px;
        border-right: 1px solid rgba($main-color-five, 0.2);
        border-bottom: 1px solid rgba($main-color-five, 0.2);

        p {
            margin: 0;
            color: $main-color-five;
        }

        .amount {
            font-size: 5rem;
            opacity: 0.8;
            font-weight: 300;
            letter-spacing: -2px;
            margin-top: -5px;
        }

        .type {
            text-transform: uppercase;
            letter-spacing: -1px;
            font-weight: bold;
            font-size: 0.9rem;
        }
    }

    .vertical-separator {
        height: 80%;
        display: block;
        width: 1px;
        background-color: $main-color-two;
        margin: 0 30px;
    }
}

@media screen and (max-width: 1240px) and (min-width: 801px) {
    #statistics {
        height: 360px;
    }

    .vertical-separator {
        height: 40% !important;
    }
}

@media screen and (max-width: 800px) {
    #statistics {
        height: auto;
        padding: 10px;

        .statistic {
            width: 45%;

            .amount {
                font-size: 3.5rem;
            }

            .type {
                font-size: 0.7rem;
            }
        }

        .vertical-separator {
            display: none;
        }
    }
}
