@import '../../../../../../scss/colors/colors';

:host {
    width: 100%;
}

.achievement--block {
    background-color: white;
    border: 1px solid rgba($main-color-five, 0.2);
    border-radius: 3px;
    box-sizing: border-box;
    padding: 15px;
    color: $main-color-five;
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    &.completed {
        background-color: rgba(59, 247, 177, 0.75);
        filter: saturate(0.6);
    }
}

.achievement--image {
    width: 50px;
    border-radius: 50%;
}

.achievement--text {
    font-size: 1rem;
    letter-spacing: -1px;
}

.achievement--points {
    font-size: 1rem;
    opacity: 0.9;
    color: $main-color-one;
}
