.achievement--block {
    display: flex;
    width: 80%;
    min-width: 700px;
    height: 150px;
    background-color: #FFF;
    margin: auto;
    text-align: left;
    border-radius: 100px 5px 5px 100px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    padding: 10px;
    margin-bottom: 20px;
}

.achievement--image {
    height: auto;
    border-radius: 50%;
}

.achievement--text {
    margin-left: 20px;
    margin-right: 20px;
    width: calc(100% - 200px);
    text-overflow: ellipsis;

    h1 {
        margin-top: 5px;
        margin-bottom: 0;
    }

    p {
        margin-top: 10px;
        margin-bottom: 0;
        color: rgba(0, 0, 0, 0.6);
    }
}

.achievement--points {
    height: 50px;
    width: 50px;
    line-height: 50px;
    background-color: #2DD6B5;
    border-radius: 50%;
    text-align: center;
    color: white;
    align-self: flex-end;
}
