#application-header {
    width: 100%;
    height: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    color: white;

    svg {
        width: 200px;
    }
}

.header-logo {
    margin-left: 50px;
}

.profile {
    margin-right: 50px;

    .profile--name {
        cursor: pointer;
        font-size: 20px;
    }
}

.spacer {
    flex: 1 1 auto;
}
