/* You can add global styles to this file, and also import other style files */
@import '../node_modules/normalize-scss/sass/normalize';
@import './scss/titles/titles';
@import './scss/colors/colors';
@import './scss/navigation_elements/navigation_elements';
@import './scss/buttons/buttons';
@import './scss/links/links';
@import './scss/aviary/aviary';
@import './scss/logo/logo';
@import './scss/forms/forms';
@import './scss/scrollbar/scrollbar.css';

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #000;

    &.no-scrolling {
        overflow: hidden;
    }
}
