// Normalize stylesheet
@import '../node_modules/normalize-scss/sass/normalize';
// Base styling
@import './scss/fonts/fonts';
@import './scss/colors/colors';
// Elements styling
@import './scss/titles/titles';
@import './scss/buttons/buttons';
@import './scss/links/links';
@import './scss/navigation_elements/navigation_elements';
@import './scss/aviary/aviary';
@import './scss/logo/logo';
@import './scss/forms/forms';
// Scrollbars styling
@import './scss/scrollbar/scrollbar.css';

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #000;

    &.no-scrolling {
        overflow: hidden;
    }
}
