<div id="home-panel">git
    <div class="loading-screen" *ngIf="isLoading">
        <span class="loading-spinner"></span>
    </div>
    <div class="control-panel">
        <div class="statistics">
            <scrblr-statistics></scrblr-statistics>
        </div>

        <div class="latest-posts">
            <scrblr-latest-posts></scrblr-latest-posts>
        </div>
        <div class="quick-access-panels">
            <scrblr-quick-quote [children]="children"></scrblr-quick-quote>
        </div>
    </div>
    <scrblr-quick-start *ngIf="noChildren"></scrblr-quick-start>
</div>

