<div id="home-panel">
    <div class="loading-screen" *ngIf="isLoading">
        <span class="loading-spinner"></span>
    </div>
    <div class="control-panel" *ngIf="!noChildren && !quickStartActive">
        <div class="statistics">
            <scrblr-statistics></scrblr-statistics>
        </div>
        <div class="quick-access-container">
            <div class="header-container">
                <h1 class="title">Quick memory.</h1>
            </div>
            <div class="quick-access-panels">
                <scrblr-quick-access [children]="children"></scrblr-quick-access>
            </div>
        </div>
        <div class="latest-posts">
            <scrblr-latest-posts (reachedLast)="doneLoading()"></scrblr-latest-posts>
        </div>
    </div>
    <scrblr-quick-start *ngIf="quickStartActive" (doneLoading)="doneLoading()" (closeQuickStart)="quickStartActive = false"></scrblr-quick-start>
</div>

